<html>
	<head>
		<title>NYC Recycling Spots</title>

	</head>

	<body>
		<header>
			<strong>Where can I recycle?</strong>
		</header>
		
		<main>
		     <% include ../partials/search %>	
		</main> 
		<footer>
			Created by Tanya Brassie 
		</footer>        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
</html>