<h1>THE OFFICIAL EPA LIST OF RECYCLING DATABASES</h1>
	     <h2>(NOW MAINTAINED BY RICK PERRY!)</h2>
	     
	     <h3>Search for a recycling space near you with this handy new technological internet application (web app)</h3>

	     <form action="http://127.0.0.1:8081/search" method="POST" id="recyclingsearch">
		     <legend>Search NYC Facilities</legend>
		     <strong>Park Name</strong>
		     <input type="text" name="park">
		     or 
		     <strong>Borough</strong>
		     
		     <select name="boroughs" form="recyclingsearch">
			     <option value="Manhattan">Manhattan</option>
			     <option value="Bronx">Bronx</option>
			     <option value="Queens">Queens</option>
			     <option value="Brooklyn">Brooklyn</option>
		     </select>
		     <input type="submit" value="Submit">
	     </form>